.Homepage_orders{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
h1{
    font-size: 2em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.ordersHeading{
    margin: 0;
}
#orderFlexWrapper{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 24px 0;
}
.FilterWrapper{
    width: 180px;
}
.FilterOptions{
display: flex;
flex-direction: column;
}
.orderFilterCheckbox{
    margin: 6px 0;
    cursor: pointer;
}
.OrderListTable{
    text-align: left;
    padding: 12px 24px;
    font-size:  14px;
}
table{
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
}
table th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    padding: 12px 24px;
}
.OrderList-Row{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;

}
.orderSecondaryText{
    color: #8c8c8c;
}
.orderPrimaryText{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
        
}
.OrderListTable td{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}