.productpage_main{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
.productsHeading{
    margin: 0;
}
#productFlexWrapper{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 24px 0;
}
.ProductCheckTable{
    text-align: left;
    padding: 12px 24px;
    font-size:  14px;
}
.OrderList-Row{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;

}
.orderSecondaryText{
    color: #8c8c8c;
}
.orderPrimaryText{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
table td{
    padding:12px 24px;
}